<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="has-text-centered" >Entries Index Page</h1>
    <br>
       
        <ul class="has-text-centered" >
        <% for(let i =0 ; i<entries.length; i++){%>
            <li>
                Name:<%= entries[i].name %>
                <a href="/budget/entries/<%= entries[i].id %>/edit">edit Entry<a>
                    <a href="/budget/<%= entries[i].id %>">look closer</a>
            </li>
            <% } %> 
             <a href="/budget/new">Create New Entry</a>
    </ul>
  
</body>
</html>