<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h1><%= entry.name %></h1>
    amount: <%= entry.amount %> <br>
    discription: <%= entry.disc %> <br>
    income:  <% if(entry.income === true){ %>
        You made money
    <% } else { %>
        You spent money
    <% } %>
   
</body>
</html>