<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals index page</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="has-text-centered" >goals index page</h1> <br>
    <ul class="has-text-centered" >
        <% for(let i =0 ; i<goals.length; i++ ){%>
            <li>
                name:<%= goals[i].name %>
                <a href="/goals/<%= goals[i].id %>/edit">edit goal</a>
                <a href="/goals/<%= goals[i].id %>">look closer</a>
            </li>
            <% } %>
    </ul>
</body>
</html>