<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>landing page </title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="px-3" >dashboard</h1>
    <div class="box px-3"><% if (currentUser){ %>
    <h2>Welcome <%= currentUser.name %> </h2>
    <ul>
        <li>
            <form class="px-3" action="/sessions?_method=DELETE" method="POST">
            <input class="px-3" type="submit" value="log out ">
        </form></li>
    </ul >
    <% }else{ %>
        <ul class="px-3 ">
            <li class="px-3"><a href="/users/new">Sign Up</a></li>
            <li class="px-3"><a href="/sessions/new">Log In</a></li>
            <% } %>
        </ul>
    </div>
   <div class="px-2" >
    <ul class="">
        <h2 class="px-3" > entries </h2>
        <% for(let i =0 ; i<entries.length; i++){%>
            <li class="list-group-item">
                <%= entries[i].name %>
            </li>
       <% }; %>
       </ul>
       <a href="/budget/entries/all">see all entries</a>
       <br>
       </div>
        <br>
        <div class="px-3">
            <h2 class="" > goals </h2>
            <ul class="px-2">
        <% for(let i =0 ; i<goals.length; i++ ){%>
            <li class="list-group-item">
                <%= goals[i].name %>
            </li>
       <% }; %>
    </ul>
    <a href="/goals/all">see all goals</a>
    </div>
    <br>
</body>
</html>