<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing page </title>
</head>
<body>
    <h1>dashboard</h1>
    <% console.log(entries) %>
    <ul> entries
        <% for(let i =0 ; i<entries.length; i++){%>
            <li>
                name:<%= entries[i].name %>
            </li>
       <% }; %>
       </ul><br>
       <ul> goals
        <% for(let i =0 ; i<goals.length; i++ ){%>
            <li>
                name:<%= goals[i].name %>
            </li>
       <% }; %>
    </ul>
</body>
</html>