<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing page </title>
</head>
<body>
    <h1>dashboard</h1>
    <ul> entries
        <% for(let i =0 ; i<entries.length; i++){%>
            <li>
                name:<%= entries[i].name %>
            </li>
       <% }; %>
       </ul>
       <a href="/budget/entries/all">see all entries</a>
       <br>
       <ul> goals
        <% for(let i =0 ; i<goals.length; i++ ){%>
            <li>
                name:<%= goals[i].name %>
            </li>
       <% }; %>
    </ul>
    <a href="/budget/goals/all">see all goals</a>
</body>
</html>