<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>landing page </title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>dashboard</h1>
    <div class="box"><% if (currentUser){ %>
    <h2>Welcome <%= currentUser.name %> </h2>
    <ul>
        <li><form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="log out ">
        </form></li>
    </ul>
    <% }else{ %>
        <ul class="list-group">
            <li class="list-group-item"><a href="/users/new">Sign Up</a></li>
            <li class="list-group-item"><a href="/sessions/new">Log In</a></li>
            <% } %>
        </ul>
    </div>
   <div>
    <ul class="list-group">
        <h2> entries </h2>
        <% for(let i =0 ; i<entries.length; i++){%>
            <li class="list-group-item">
                <%= entries[i].name %>
            </li>
       <% }; %>
       </ul>
       <a href="/budget/entries/all">see all entries</a>
       <br>
       </div>
        
        <div>
            <h2> goals </h2>
            <ul class="list-group">
        <% for(let i =0 ; i<goals.length; i++ ){%>
            <li class="list-group-item">
                <%= goals[i].name %>
            </li>
       <% }; %>
    </ul>
    <a href="/goals/all">see all goals</a>
    </div>
</body>
</html>