<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing page </title>
</head>
<body>
    <h1>dashboard</h1>
    <div id="userBox"><% if (currentUser){ %>
    <h2>Welcome <%= currentUser.name %> </h2>
    <ul>
        <li><form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="log out ">
        </form></li>
    </ul>
    <% }else{ %>
        <ul>
            <li><a href="/users/new">Sign UP</a></li>
            <li><a href="/sessions/new">Log In</a></li>
            <% } %>
        </ul>
    </div>
   <div>
    <ul> entries
        <% for(let i =0 ; i<entries.length; i++){%>
            <li>
                name:<%= entries[i].name %>
            </li>
       <% }; %>
       </ul>
       <a href="/budget/entries/all">see all entries</a>
       <br>
       <ul> 
        </div>
        <div>
        goals
        <% for(let i =0 ; i<goals.length; i++ ){%>
            <li>
                name:<%= goals[i].name %>
            </li>
       <% }; %>
    </ul>
    <a href="/budget/goals/all">see all goals</a>
    </div>
</body>
</html>