<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new entry page</h1>
    <form action="/budget" method="POST">
        name: <input type="text" name="name" ><br>
        amount: <input type="text" name="amount"><br>
        discription: <input type="text" name="disc"><br>
        Is it income: <input type="checkbox" name="isIncome">
        <input type="submit" value="create entry">
    </form>
</body>
</html>