<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new goals page </h1>
    <form action="/budget/goals" method="POST">
        name: <input type="text" name="name" value="name here "><br>        
        Goal Amount: <input type="text" name="goalAmmount"><br>
        discription: <input type="text" name="disc"> <br>
        Current Amount: <input type="text" name="currentAmmount" ><br>
        accomplished: <input type="checkbox" name="accomplished"><br>
        <input type="submit" name="" value="Submit Goal">
    </form>

</body>
</html>