<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Flying With Purpose Budgeting app </h1>
    <h3>Sign In</h3>
    <form action="/sessions" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </fieldset>
      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </fieldset>
      <input type="submit" value="Sign In"> <br>

    </form>
          <button><a href="/users/new">sign up</a></button>
  </body>
</html>
</body>
</html>